<h1>{{title}}</h1>

<section>
  <h2><strong>Tareas</strong></h2>
  <div class="container mt-4">
    <!-- Alerta -->
    <!-- <ngb-alert *ngIf="alertMessage" [type]="alertType" (closed)="alertService.hideAlert()">
      {{ alertMessage }}
    </ngb-alert> -->
  
    <!-- Formulario y lista de tareas -->
    <app-task-form (taskAdded)="onTaskAdded($event)"></app-task-form>
    <!-- Filtro de tareas -->
    <app-task-filter (filterChange)="onFilterChange($event)"></app-task-filter>
    <app-task-list [filter]="currentFilter"></app-task-list>
  </div>
</section>